<footer id="footer">
  <div>
    <p>
      <a href="/">Home</a>
      |
      <a href="/adultcourses">Adult Courses</a>
      |
      <a href="/tutoring">Tutoring</a>
      |
      <a href="/schools">Schools</a>
      |
      <a href="/events">Events</a>
      |
      <a href="/about">About</a>
      |
      <a href="/testimonials">Testimonials</a>
      |
      <a href="/giftvouchers">Gift Vouchers</a>
      |
      <a href="/privacy">Privacy</a>
      |
      <a href="/gallery">Gallery</a>
    </p>
  </div>
  <div>
    <hr />
    <img alt="Email" src="/images/email.png" width="2%" />
    jane@jlhlanguages.org
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <img alt="Phone" src="/images/phone.png" width="2%" />
    07793 556020
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <a href="https://www.facebook.com/pg/JLHLanguages/posts/?ref=page_internal">
      <img alt="Facebook" src="/images/facebook.png" width="2%" />
    </a>
    Find us on Facebook
  </div>
</footer>