<header id="header">
  <!--
    <h1>{{pageTitle}}</h1>
  -->
  <div>
    <p>
      <a href="/">Home</a>
      |
      <a href="/adultcourses">Adult Courses</a>
      |
      <a href="/tutoring">Tutoring</a>
      |
      <a href="/schools">Schools</a>
      |
      <a href="/events">Events</a>
      |
      <a href="/about">About</a>
      |
      <a href="/testimonials">Testimonials</a>
      |
      <a href="/giftvouchers">Gift Vouchers</a>
      |
      <a href="/privacy">Privacy</a>
      |
      <a href="/gallery">Gallery</a>
    </p>
  </div>
  <p>
    <img src="/images/jlh-languages.png" alt="JLH Languages Logo" width="400px" height="auto" class="center">
  </p>
  <br>
</header>