<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" type="text/css" href="css/style.css" />
  <meta charset="utf-8">
  <title>JLH Languages</title>
</head>

<body>
  {{> header}}
  <div class="body-sytle">
    <h1>Gallery</h1>
    <h3>
      <br />
      <br />
      <p class="center">
        January 2019
      </p>

      <img alt="" src="/images/WhyLangsGood.png" width="900px" height="auto" padding="25px" class="center" />

      <br />
      <br />
      <p class="center">
        October 2018
      </p>

      <img alt="" src="/images/2018-10-25.png" width="900px" height="auto" padding="25px" class="center" />

      <br />
      <br />
      <p class="center">
        July 2018
      </p>

      <img alt="" src="/images/2018-09.png" width="900px" height="auto" padding="25px" class="center" />

      <br />
      <br />
      <p class="center">
        July 2018
      </p>

      <img alt="" src="/images/2018-08-30.png" width="900px" height="auto" padding="25px" class="center" />

      <br />
      <br />
      <p class="center">
        July 2018
      </p>

      <img alt="" src="/images/2018-07-21.jpg" width="900px" height="auto" padding="25px" class="center" />

      <br />
      <br />
      <p class="center">
        July 2018
      </p>

      <img alt="" src="/images/french-night-poster-2018.png" width="900px" height="auto" padding="25px" class="center" />

      <br />
      <br />
      <p class="center">
        July 2018
      </p>

      <img alt="" src="/images/2018-07-05.jpg" width="900px" height="auto" padding="25px" class="center" />

      <br />
      <br />
      <p class="center">
        July 2018
      </p>

      <img alt="" src="/images/2018-07.jpg" width="900px" height="auto" padding="25px" class="center" />

      <br />
      <br />
      <p class="center">
        June 2018
      </p>

      <img alt="" src="/images/2018-06-23.jpg" width="900px" height="auto" padding="25px" class="center" />

      <br />
      <br />
      <p class="center">
        February 2018
      </p>

      <img alt="" src="/images/2018-02.jpg" width="900px" height="auto" padding="25px" class="center" />

      <br />
      <br />
      <p class="center">
        November 2017
      </p>

      <img alt="" src="/images/2017-11-22.jpg" width="900px" height="auto" padding="25px" class="center" />

      <br />

    </h3>
  </div>
  {{> footer}}
</body>

</html>