<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" type="text/css" href="css/style.css" />
  <meta charset="utf-8">
  <title>JLH Languages</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
  {{> header}}
  <div class="body-sytle">
    <h1 style={h1Style}>Gift Vouchers</h1>
    <img alt="Gift Voucher" src="/images/gift-voucher.png" width="60%" padding="25px" class="center" />
  </div>
  {{> footer}}
</body>

</html>