<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" type="text/css" href="css/style.css" />
  <meta charset="utf-8">
  <title>JLH Languages</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
  {{> header}}
  <div class="body-sytle">
    <div class="row">
      <div class="column">
        <h1>Adult Lessons</h1>
        <p>
          JLH Languages teaches French to adults as a type of &quot;brain gym.&quot;
        </p>
        <p>
          Everyone wants to live a healthy life for longer: there is increasing scientific evidence that suggests that
          we need to exercise our brain as well as our body. Factors that help to keep our brain in good
          shape are:
        </p>
        <ul>
          <li>Education – learning a new skill</li>
          <li>Social engagement – joining a club, meeting with other people</li>
          <li>Cognitive stimulation – reading, puzzles, crosswords</li>
        </ul>
        <p>
          Learning a foreign language includes all 3 of these elements. In addition, doing something
          different and fun is also an excellent way of reducing stress.
        </p>
        <p>
          According to a Public Health England report in 2016, "Keeping your brain active and challenged throughout life
          may help reduce your dementia risk."
        </p>
        <p>
          We teach languages in an innovative way. Each unit of teaching is based around a
          conversation (e.g. on food, sport, camping, music) and by the end of each module learners will
          have mastered the conversation so that they are able to communicate in the target language on
          that topic.
        </p>
        <p>
          If you would like to learn a language from scratch or refresh your knowledge in a fun and
          friendly environment then get in touch to find the nearest class to you!
        </p>
        Other services:
        <ul>
          <li>Private tuition for GCSE and A-level examinations</li>
          <li>Intensive one-to-one tuition</li>
          <li>Business French lessons</li>
        </ul>
        <br />
      </div>
      <div class="column">
        <h1>Immersive Restaurant Experience For Schools</h1>
        <p>
          Having worked for several years as a Head of Department of Modern Languages, I was always looking for a way to
          bring the languages I taught to life. This is very challenging in a classroom but the alternative, a trip
          abroad, can be a very time-consuming endeavour and is, sadly, out of the question for many students.
        </p>
        <p>
          This is the reason why I have teamed up with restaurants in my local area to offer a fun, effective and
          hassle-free alternative to a foreign trip.
        </p>
        <p>
          Our aim is to give students a taste of being in a French restaurant whilst remaining in the UK. The
          restaurants I am currently working with are based in Cannock (South Staffordshire) although I do have plans to
          expand to other regions.
        </p>
        <p>
          We can cater for groups up to a maximum of 30 students. We cater for all dietary requirements (e.g.
          vegetarians, vegans, food allergies, Halal meals) so that all students can participate fully and benefit from
          this experience.
        </p>
        <br />
      </div>
    </div>


  </div>
  {{> footer}}
</body>

</html>