<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" type="text/css" href="css/style.css" />
  <meta charset="utf-8">
  <title>JLH Languages</title>
</head>

<body>
  {{> header}}
  <div class="body-sytle">
    <p>
      JLH Languages teaches French to adults as a type of &quot;brain gym.&quot;
    </p>
    <p>
      Everyone wants to live a healthy life for longer: there is increasing scientific evidence that suggests that
      we need to exercise our brain as well as our body. Factors that help to keep our brain in good
      shape are:
    </p>
    <ul>
      <li>Education – learning a new skill</li>
      <li>Social engagement – joining a club, meeting with other people</li>
      <li>Cognitive stimulation – reading, puzzles, crosswords</li>
    </ul>
    <p>
      Learning a foreign language includes all 3 of these elements. In addition, doing something
      different and fun is also an excellent way of reducing stress.
    </p>
    <p>
      According to a Public Health England report in 2016, "Keeping your brain active and challenged throughout life
      may help reduce your dementia risk."
    </p>
    <p>
      We teach languages in an innovative way. Each unit of teaching is based around a
      conversation (e.g. on food, sport, camping, music) and by the end of each module learners will
      have mastered the conversation so that they are able to communicate in the target language on
      that topic.
    </p>
    <p>
      If you would like to learn a language from scratch or refresh your knowledge in a fun and
      friendly environment then get in touch to find the nearest class to you!
    </p>
    Other services:
    <ul>
      <li>Private tuition for GCSE and A-level examinations</li>
      <li>Intensive one-to-one tuition</li>
      <li>Business French lessons</li>
    </ul>
    <br />
  </div>
  {{> footer}}
</body>

</html>