<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" type="text/css" href="css/style.css" />
  <meta charset="utf-8">
  <title>JLH Languages</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
  {{> header}}
  <div class="body-sytle">
    <h1>Spanish restaurant experience</h1>
    <br />

    <img alt="Spanish Food" src="/images/spanish_food.jpg" width="60%" padding="25px" class="center" />

    <br />

    <img alt="Spanish Flyer" src="/images/spanish_flyer.png" width="60%" padding="25px" class="center" />

    <br />
    Having worked for several years as a Head of Department of Modern Languages, I was always looking for ways to bring
    the languages I taught to life. This is very challenging in a classroom but the alternative, a trip abroad, can be a
    very time-consuming endeavour and is, sadly, out of the question for many students.
    <br />
    <br />
    This is the reason why I have teamed up with restaurants in my local area to offer a fun, effective and hassle-free
    alternative to a foreign trip.
    <br />
    <br />
    Our aim is to give students a taste of being in a Spanish restaurant whilst remaining in the UK. The restaurant I am
    currently working with is based in Cannock (South Staffordshire) although I have plans to expand into other regions
    at a later date.
    <br />
    <br />
    We can accommodate groups up to a maximum of 30 students. We cater for all dietary requirements (vegetarians,
    vegans, food allergies, Halal meals) so that all students can participate fully and benefit from this experience.
    <br />
    <br />

    <img alt="Spanish Staff" src="/images/spanish_staff.jpg" width="60%" padding="25px" class="center" />

    <br />
    There are several food options:
    <br />
    <br />
    <u>Spanish Breakfast From approx. £15.00 per student</u>
    <br />
    <br />
    Spanish breakfast consisting of bollo, bread, plain biscuits, a hot drink and a selection of fruit (to promote
    healthy eating and expand students’ vocabulary.) Spanish omelette is also available.
    Students order everything in Spanish and are served by Spanish speaking waiting staff.
    This experience includes a range of language activities. For example, students use their knowledge of Spanish to
    sort out problems during the meal, give detailed opinions about their meal or discuss healthy eating issues relating
    to their food. A full list of vocabulary can be given to the school prior to the event so that it can be covered in
    advance. This will allow students to use their language spontaneously, increasing their confidence and motivation.
    <br />
    <br />
    Optional extras:
    <br />
    Additional language activities can be organised on topics of the school’s choice e.g.a GCSE preparation activity
    based on role plays for the speaking exam.
    <br />
    <br />
    Arrival 9.30 a.m. Departure 11.30 a.m.
    <br />
    <br />
    <u>Spanish 3-course meal From approx. £26.00 per student</u>
    <br />
    <br />
    Students order a 3 course meal and a drink in Spanish. The level of language and the language activities delivered
    can be tailored to the ability and objectives of the group.
    A typical meal may include the following (please note this is a sample menu to give an idea of the range of dishes
    offered):
    Starters: paella, arroz a la cubana, macorrones, ensalada mixta, tortilla paisana
    Mains: pollo asado, albóndigas en salsa, pisto, stuffed peppers
    Desserts: rice pudding, fresh fruit, flan: creme caramel, mousse de chocolate
    <br />
    <br />
    Arrival midday Departure 2.00 p.m.
    <br />
    <br />
    Prices: The prices quoted do NOT include transport to and from the venue.
    <br />
    <br />

    <img alt="Spanish Room" src="/images/spanish_room.jpg" width="60%" padding="25px" class="center" />

    <br />
    What are the benefits of the Spanish experience?
    <br />
    <br />
    <ul>
      <li>
        Students gain a taste of Spain without the commitment to, or the financial burden of, a foreign trip. It could
        be used as an alternative to a foreign trip or a springboard to encourage reluctant students to participate in a
        foreign trip in the future.
      </li>
      <br />
      <li>
        This experience enhances students’ cultural awareness. Students can be encouraged to be curious about how life
        in Spain is different from life in Britain through experiencing Spanish cuisine and the ambiance of Spain. </li>
      <br />
      <li>
        The teaching in school prior to the event is given a sharper focus as the students know that they will use the
        language for a concrete purpose. Students are more likely to be motivated to learn the language required and
        practise it so they can use it effectively when called upon to do so during their visit. </li>
      <br />
      <li>
        The experience brings the subject to life as students have to use their Spanish actively for a real purpose.
        Once students realise that languages can be useful this may motivate them to continue with their studies with
        increased enthusiasm. For example, this event could be used as a motivational tool for students prior to their
        options in Year 8 or Year 9. </li>
      <br />
      <li>
        Students will be required to speak Spanish to order a meal. The successful completion of this task provides
        concrete proof to the students themselves that they can actually “do” Spanish and this can build confidence and
        enhance motivation. </li>
      <br />
      <li>
        Using Spanish in an unscripted way develops students’ coping mechanisms which are relevant in exam situations.
        It can help students understand that their spoken language does not have to be perfect as long as their message
        is conveyed.
      </li>
      <br />
      <li>
        Cross-curricular issues such as healthy eating issues are addressed. Every menu includes a healthy option and
        students can discuss the pros and cons of their meal choices.
      </li>
      <br />
      <li>
        Visits are tailored to meet the specific objectives of each individual group e.g. to motivate reluctant
        learners, to stretch the most able, to increase confidence of students when speaking, to increase spontaneity
        etc. Specific cross-curricular themes can be included upon request: numeracy, healthy eating, food technology,
        music, authentic texts......
      </li>
      <br />
      <li>
        When students return to their classroom after the visit, they appreciate that the language they are learning is
        real i.e. that Spanish is not simply an academic subject but is one with real value and purpose.
      </li>
      <br />
    </ul>
    <br />
    Here are some of the things the teachers have said about the Spanish restaurant experience:
    <br />
    <br />
    <ul>
      <li>
        “They have enjoyed the experience of eating Spanish food and interacting with staff who only speak in Spanish as
        well as the environment and the activities. The students gained confidence to speak in Spanish as well as
        learning new vocabulary that they will remember for a long time.”
      </li>
      <br />
      <li>
        “They gained cultural capital and used Spanish for a real purpose.”
      </li>
      <br />
    </ul>
    <br />
    The feedback from the students has been positive too:
    <br />
    <br />
    <ul>
      <li>
        “I’ve enjoyed the food and interacting with the waiters in Spanish. Actually talking to someone in Spanish
        helped my confidence and my fluency.”
      </li>
      <br />
      <li>
        “I had to speak Spanish to order my food which made me more confident.”
      </li>
      <br />
      <li>
        “I have enjoyed stepping out of my comfort zone by speaking Spanish in public.”
      </li>
      <br />
    </ul>

    When asked if they felt their Spanish or their confidence using the language had improved, they said:
    <br />
    <br />
    <ul>
      <li>
        “Yes, because when I was ordering food I was understandable.”
      </li>
      <br />
      <li>
        “Yes, because I have been speaking it all day.”
      </li>
      <br />
      <li>
        “Yes, I have started to worry less about what I’m saying.”
      </li>
      <br />
    </ul>


    <br />
    If you would like to receive a quote for a visit, please contact jane@jlhlanguages.org
  </div>
  {{> footer}}
</body>

</html>