<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" type="text/css" href="css/style.css" />
  <meta charset="utf-8">
  <title>JLH Languages</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
  {{> header}}
  <div class="body-sytle">
    <div class="row">
      <div class="column">
        <a class="select" href="/schools-french">
          French Restaurant Experience
          <img alt="" src="/images/french.jpg" width="60%" padding="25px" class="center" />
        </a>
        <br />
      </div>
      <div class="column">
        <a class="select" href="/schools-spanish">
          Spanish Restaurant Experience
          <img alt="" src="/images/spanish.jpg" width="60%" padding="25px" class="center" />
        </a>
        <br />
      </div>
    </div>
  </div>
  {{> footer}}
</body>

</html>