<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" type="text/css" href="css/style.css" />
  <meta charset="utf-8">
  <title>JLH Languages</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
  {{> header}}
  <div class="body-sytle">
    <h1>French restaurant experience</h1>
    <br />

    <img alt="Photo 5 cropped" src="/images/Photo5cropped.jpg" style="max-width:100%;width:900px;height:auto;" padding="25px"
      class="center" />

    <br />

    <img alt="French Experience 1" src="/images/1.png" style="max-width:100%;width:900px;height:auto;" padding="25px" class="center" />

    <br />

    <img alt="French Experience 2" src="/images/2.png" style="max-width:100%;width:900px;height:auto;" padding="25px" class="center" />

    <br />

    Having worked for several years as a Head of Department of Modern Languages, I was always
    looking for a way to bring the languages I taught to life. This is very challenging in a classroom but
    the alternative, a trip abroad, can be a very time-consuming endeavour and is, sadly, out of the
    question for many students.
    <br />
    <br />
    This is the reason why I have teamed up with restaurants in my local area to offer a fun, effective
    and hassle-free alternative to a foreign trip.
    <br />
    <br />
    Our aim is to give students a taste of being in a French restaurant whilst remaining in the UK. The
    restaurants I am currently working with are based in Cannock (South Staffordshire) although I have
    plans to expand into other regions later this year.
    <br />
    <br />
    We can cater for groups up to a maximum of 30 students. We cater for all dietary requirements (e.g. vegetarians,
    vegans, food allergies, Halal meals) so that all students can participate fully and benefit from this
    experience.

    <br />
    <br />

    <img alt="CGSPhoto7" src="/images/CGSPhoto7.jpg" style="max-width:100%;width:900px;height:auto;" padding="25px" class="center" />

    <br />
    There are several options regarding food options:
    <br />
    <br />
    <u>Formule A: Niveau débutant From £12.50 per student</u>
    <br />
    <br />
    French breakfast consisting of a selection of pastries (croissant, pain au chocolat, tartines avec de la
    confiture / du miel / du nutella), a hot drink and a selection of fruit (to promote healthy eating and
    expand students’ vocabulary.)
    Students order everything in French.
    Optional extra: Cooking session @ £5 supplement per student
    Arrival 9.30 a.m. Depart 11.00 a.m.
    <br />
    <br />
    <u>Formule B: Niveau intermédiare From £13.50 per student</u>
    <br />
    <br />
    This includes Formule A above but it also includes more challenging language activities. For example,
    students may have to use their knowledge of French to sort out problems during the meal, give
    detailed opinions about their meal or discuss healthy eating issues relating to their food. A full list of
    vocabulary can be given to the school prior to the event so that it can be covered in advance. This
    will allow students to use their language spontaneously, increasing their confidence and motivation.
    Students order everything in French.
    Optional extra: Additional language activities can be organised on topics of the school’s choice e.g.
    revision master class on a topic that can be delivered after the meal (supplement applicable.)
    Arrival 9.30 a.m. Depart 11.00 a.m.
    <br />
    <br />
    <u>Formule C: Pour les gourmands From £20.00 per student</u>
    <br />
    <br />
    Students order a 3 course meal and a drink in French. The level of language and the language
    activities delivered can be tailored to the ability and objectives of the group.
    A typical meal may include the following (please note this is a sample menu to give an idea of the
    range of dishes offered):
    Starters: Salade de chèvre chaud, soupe à l’oignon, terrine de campagne maison, melon
    Mains: Boeuf bourgignon, omelette, coq au vin, poulet rôti
    Sides: légumes, riz, pâtes
    Desserts: glace aux choix, crème caramel, mousse au chocolat, salade de fruits
    Arrival midday Depart 2.00 p.m.
    Prices: The prices quoted do NOT include transport to and from the venue. Normally schools prefer
    to use their own school transport or work with transport companies they are familiar with. If
    transport is required, please state this when asking for a quote and it can be included in the total
    price.

    <br />
    <br />

    <img alt="CGSPhoto3" src="/images/CGSPhoto3.jpg" style="max-width:100%;width:900px;height:auto;" padding="25px" class="center" />

    <br />
    What are the benefits of the French experience?

    <ul>
      <li>Students gain a taste of France without the commitment to, or the financial burden of, a
        foreign trip. It could be used as an alternative to a foreign trip or a springboard to encourage
        reluctant students to participate in a foreign trip in the future.</li>
      <br />
      <li>This experience enhances students’ cultural awareness. Students can be encouraged to be
        curious about how life in France is different from life in Britain through experiencing French
        cuisine and the ambiance of France.</li>
      <br />
      <li>The teaching in school prior to the event is given a sharper focus as the students know that
        they will use the language for a concrete purpose. Students are more likely to be motivated
        to learn the language required and practise it so they can use it effectively when called upon
        to do so during their visit.</li>
      <br />
      <li>The experience brings the subject to life as students have to use their French actively for a
        real purpose. Once students realise that languages can be useful this may motivate them to
        continue with their studies with increased enthusiasm. For example, this event could be
        used as a motivational tool for students prior to their options in Year 8 or Year 9.</li>
      <br />
      <li>Students will be required to speak French to order a meal. The successful completion of this
        task provides concrete proof to the students themselves that they can actually “do” French
        and this can build confidence and enhance motivation.</li>
      <br />
      <li>Using French in an unscripted way develops students’ coping mechanisms which are
        relevant in exam situations. It can help students understand that their spoken language does
        not have to be perfect as long as their message is conveyed.</li>
      <br />
      <li>Cross-curricular issues such as healthy eating issues are addressed. Every menu includes a
        healthy option and students can discuss the pros and cons of their meal choices (Please note
        that none of our meals are accompanied by chips which requires students to choose a
        healthier option.)</li>
      <br />
      <li>Visit are tailored to meet the specific objectives of each individual group e.g. to motivate
        reluctant learners, to stretch the most able, the increase confidence of students when
        speaking, to increase spontaneity etc. Revision sessions on specific topics (which take place
        after the meal) are available. Specific cross-curricular themes can be included: numeracy,
        healthy eating, food technology, music, authentic texts......</li>
      <br />
      <li>When students return to their classroom after the visit, they appreciate that the language
        they are learning is real i.e. that French is not simply an academic subject but is one with real
        value and purpose.</li>
    </ul>
    <br />
    <br />
    If you would like to receive a quote for a visit, please contact jane@jlhlanguages.org
  </div>
  {{> footer}}
</body>

</html>