<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" type="text/css" href="css/style.css" />
  <meta charset="utf-8">
  <title>JLH Languages</title>
</head>

<body>
  {{> header}}
  <div class="body-sytle">
    <h1>Tutoring</h1>
    <h3>
      <p>
        Individual tuition £30 per hour
        <br />
        <br />
        Group tuition price on request
      </p>

      <br />


      <img alt="Tutoring1" src="/images/tutoring1.png" width="900px" height="auto" padding="25px" class="center" />

      <br />


      <img alt="Tutoring2" src="/images/tutoring2.png" width="900px" height="auto" padding="25px" class="center" />


    </h3>
    <br />
  </div>
  {{> footer}}
</body>

</html>